:root{
    --header-bg-col: rgb(2, 37, 71);
    --header-font-col: rgb(255, 255, 255);
    --light-border: rgba(255, 255, 255, 0.2);
    --light-hover-col:  rgba(255, 255, 255, 0.651);
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Cabin', sans-serif;
}
#website-wrapper{
    width: 100%;
    overflow: hidden;
}
/* HEADER */
#main-header{
    background-color: var(--header-bg-col);
    color: var(--header-font-col);
}
#main-header a{
    color: var(--header-font-col);
}
a:hover{
    text-decoration: none;
}
ul{
    margin: 0;
}
ul li{
    list-style-type: none;
}
/* top header */
#top-header a:hover, #header-nav a:hover {
    color: var(--light-hover-col);
}
.btn-top-header:hover{
    background-color:  var(--header-bg-col);
    color: var(--light-hover-col);
}
.btn-top-header{
    padding: 0 10px;
    color: var(--header-font-col);
    background-color:  var(--header-bg-col);
    border: none;

}
.cart-icon{
    font-size: 1.1em;
    color: rgb(250, 65, 65);
}
.cart-btn{
    position: relative;
    cursor: pointer;
}
.cart-items{
    position: absolute;
    right: -8px;
    top: -8px;
}
#cart{
    position:fixed;
    margin-right:0px;
    top:0;
    right:0;
    width: 100%;
    height:100%;
    overflow: scroll;
    z-index: 3;
    background-color: var(--header-font-col);
    padding: 1.5rem;
    transition: 1s linear;
    transform: translateX(101%);
}
.showCart{
    transform: translateX(0);
}
.cart-item{
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr auto;
    grid-column-gap: 1.5rem;
    margin: 1.5rem 0;
    border-bottom: 1px solid rgba(128, 128, 128, 0.527);
    padding-bottom: 1rem;
}
.cart-item img{
    width:75px;
    height:75px;
}
#cart h2{
    text-transform: capitalize;
    text-align: center;
}
.cart-input input{
    width: 50px;
    text-align: center;
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: rgba(128, 128, 128, 0.39);
}
.cart-item h5{
    font-size: 0.9rem;
    letter-spacing: 0.1 rem;
}
.cart-footer{
    text-align: center;
}
.clear-cart, .order{
    border:none;
    margin: 0.5rem 0;
    padding: 0.5rem;
}
.remove-item{
    color:rgba(231, 2, 2, 0.801);
    cursor:pointer;
}
.clear-cart{
    color: white;
    background-color: rgba(231, 2, 2, 0.699);
    border-radius: 5px;
    font-size: 0.8em;
}
.order{
    color: white;
    background-color: var(--header-bg-col);
    border-radius: 5px;
    padding: 0.7rem;
}
.cart-footer h3{
    margin: 1.5rem 0;
}
.close-cart{
    font-size: 1.7rem;
    color:var(--header-bg-col);
    cursor: pointer;
}
@media screen and (min-width: 768px){
    #cart{
        width:30vw;
        min-width: 450px;
    }
}
.left-header, .right-header{
    display: inline-flex;  
    justify-content: center;
    align-items: center;
}
.left-header li, .right-header li{
    padding: 5px 10px;
    border-left: 1px solid var(--light-border);
}
.left-header li:first-of-type, .right-header li:first-of-type{
    border-left: none;
}
.right-header{
   float:right;
}
.left-header{
    font-size: 0.9em;
}
header{
   border-top: 1px solid  var(--light-border);
}
.logo-box img{
   width: 60px;
   padding-right: 10px;
}
.logo-box h2{
    font-style: italic;
    text-shadow: 2px 2px 1px var(--light-hover-col);
}
.logo-box, .search-box{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.search-box input{
    display: flex; 
   height: 30px;
   width: 80%;
   border: none;
   border-radius: 10px 0 0 10px; 
   padding-left: 10px;
}
.search-box input::placeholder{
   padding-left: 10px;
}
.search-box input:focus{
    outline: none;
}
.search-icon{
    background-color: var(--header-font-col);
    color: var(--header-bg-col);
    border: 2px solid var(--light-border);
    border-radius: 0 10px 10px 0;
    height: 30px;
    padding-right: 5px;
    font-size: 20px;
}
.dropdown-icon{   
    font-size: 2em;
    display: none;
}
/* bottom header navigation  */
#header-nav{
    display: flex;
    width: 100%;
    border-top: 1px solid var(--light-border) ;
    margin: 0;
}
.nav-list{
    display: flex;
    justify-content: space-around;    
}
.nav-list li{
    text-transform: uppercase;
    padding: 10px 35px ;
    text-shadow: 1px 1px 1px  var(--light-hover-col);
}
/* CONTAINER CONTENT */
#container-wrapper{
    width: 100%;
    margin: 30px 0;   
}
.img-container{
    margin: 30px auto 0 auto;
    width: 180px;
    height: 230px;   
    position: relative;
    overflow: hidden;
    cursor: pointer;
    box-shadow:2px 0px 6px 1px #3D3A5E
}
.img-item-container{
    width: 220px;
    height: 350px; 
    margin: 20px 10px 30px;
    border: 1px solid rgba(128, 128, 128, 0.055);
}
.img-item-container ul{ 
    background-color:rgba(128, 128, 128, 0.055);
}
.img-item-container ul li:last-of-type{
    color: red;
    font-size: 1.1em;
}
.img-item{
    margin:5px;
    width: 180px;
    height: 230px; 
}
.seeProduct{
    border: none;
    background-color: var(--header-bg-col);
    color: #fff;
    width: 220px;
    padding: 7px 0;
    font-size: 1.1em;
    margin-bottom: 50px;
}
.seeProduct:hover{
    transition: 1s linear;
    background-color: rgba(2, 36, 71, 0.842);
}
.img-cart-container{
    position: relative;
    overflow: hidden;
}
.addToCart{
    position: absolute;
    border:none;
    color:var(--header-bg-col);
    background-color: rgba(255, 0, 0, 0.493);
    padding: 0.6rem;
    font-size: 1.2rem;
    width: 100%;
    bottom:0;
    right: 0;
    transition: 1s linear;
    transform: translateY(101%);
}
.img-cart-container:hover .addToCart{
    transform: translateY(0);
}
.addToCart:hover{
 background-color:  rgba(255, 0, 0, 0.815);
}

.img-categories{
    width: 100%;
    height: 100%;
}

.seeAllBtn{
    position: absolute;
    top: 50%;
    right: 0;
    width: 80%;
    border: none;
    border-radius: 5px 0 0 5px;
    padding:5px;
    color: var(--header-bg-col);
    background-color: var(--light-hover-col);
    font-size: 1.7em;
    font-weight: bold;
    transition: 1s linear;
    transform: translateX(101%);
}
.img-container:hover .seeAllBtn{
    transform: translateX(0);
}

.seeAllBtn:hover{
    color: var(--light-hover-col);
    background-color: var(--header-bg-col);
}

#container-product-box {
text-align: center;
margin-top: 25px;
margin: 50px auto 80px auto;
}
.container-footer{
   width: 90%;
  justify-content: center;
  align-items: center;
}
.articles-footer{
    padding: 15px;
    text-align: center;
    border-top: 1px solid rgba(2, 36, 71, 0.158);
    border-bottom: 1px solid rgba(2, 36, 71, 0.158);
    height: 100%;
}

#main-footer{
    padding-top: 20px;
    background-color: rgb(1, 22, 43);
    color: var(--light-hover-col);
    font-size: 0.9em;
}
#main-footer a{
    color: var(--light-hover-col);
}
#main-footer a:hover{
    color: var(--header-font-col);
}
#main-footer h5{
    color: var(--header-font-col);
}
#main-footer .top-footer{
    margin-bottom: 15px;
}
.footer-logo{
    width: 40px;
    padding-right: 5px;  
}
.footer-company-name {
    display: flex;
    align-items: flex-start;
}
.footer-company-name h5, .nav-footer h5{
    margin: 12px 0px 0px;
}
.footer-contact-right li, .footer-contact-left li{
 line-height: 1.5em;
}
.footer-contact-left{
    margin-top: 10px;
}
.footer-contact-right{
    position: absolute;
    bottom: 25px;
}
.nav-footer li{
    line-height: 2em;
    font-size: 1.1em;
}
.container-copyrights p{
    padding: 0;
    margin: 0;
    text-align: center;
}
.container-copyrights{
    padding: 25px 0;
    border-top: 1px solid var(--light-border);
}
.select-title{
    margin-top: 2rem;
}

.gmap_canvas iframe{
    width: 100%;
    height: 70vh;
}
.contact ul {
    text-align: start;
    margin-bottom: 2rem;
}
.contact a {
   color: rgb(0,0,0);
}
.contact a:hover{
    color: rgb(1, 1, 168);
}
/* .product-img{
height: ;
} */
.product-img img{
    width: 80%;
    height: 80%;
}
.product-info{
text-align: start;
}
.addProdToCart{
    border:none;
    background-color: rgba(255, 0, 0, 0.774);
    width: 40%;
    padding: 0.7rem;
    text-transform: uppercase;
    margin:15px 0px;
}
.addProdToCart:hover{
    color:var(--header-bg-col);
    background-color: rgba(255, 0, 0, 0.493);
}


@media (max-width: 991px){
    .left-header{
        display: none;
    }
    .search-box input{
        width: 60%;
        position: relative;
    }
    .logo-box h2{
        font-size: 1.5em;
    }   
    .nav-list {
    flex-direction: column;
    align-items: flex-end;
    }
    #header-nav{
        display: none;
    }   
   
    .dropdown-icon{
        display:block;
        position: absolute;
        right: 15px;
        cursor:pointer;
    }
}
@media (min-width: 1110px) and (max-width: 1143px){
    .logo-box h2{
        font-size: 1.8em;
    }
}
@media (min-width: 992px) and (max-width: 1110px){
    .logo-box h2{
        font-size: 1.6em;
    }
}
@media (max-width: 768px){ 
    .articles-footer h4{
        font-size: 1.1em;
    }
    #container-wrapper{
        margin-bottom: 0px;
    }
    .footer-contact-right{
        position: relative;
        top: 5px;
    }
    .img-container{
        width: 150px;
        height: 200px;
    } 
    #selectByPrice, #selectByCategory{
        width: 80%;
        margin: 0 auto;
       text-align: center;
    }
    .select-title{
        margin-top: 0.5rem;
    }
}
@media (min-width: 768px) and (max-width: 992px){
    .articles-footer h4{
        font-size: 1.3em;
        padding: 0px;
    }
    #container-wrapper{
        margin-bottom: 0px;
    }
}










